<!DOCTYPE html>
<html>
    <head>
        <title>Compre&Venda - Sistemas de Compras</title>
    </head>
    <body>
        <h3>Bem Vindo ao Compre&Venda</h3>
            <p><a href={{url_for("usuario")}}>Cadastre o Usuario</a></p>
            <p><a href={{url_for("anuncio")}}>Cadastro de Anuncio</a></p>
            <p><a href={{url_for("pergunta")}}>Perguntas</a></p>
            <p><a href={{url_for("categoria")}}>Categorias</a></p>
            <p><a href={{url_for("relVendas")}}>Relatório de Vendas</a></p>
            <p><a href={{url_for("relVCompras")}}>Relatório de Compras</a></p>
    </body>
</html>